In [191]:
import pandas as pd
import numpy as np

In [193]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     --------------------------------------- 0.0/11.9 MB 330.3 kB/s eta 0:00:36
     --------------------------------------- 0.1/11.9 MB 491.5 kB/s eta 0:00:24
      -------------------------------------- 0.2/11.9 MB 952.6 kB/s eta 0:00:13
      --------------------------------------- 0.3/11.9 MB 1.2 MB/s eta 0:00:10
     - -------------------------------------- 0.5/11.9 MB 2.0 MB/s eta 0:00:06
     --- ------------------------------------ 1.0/11.9 MB 3.2 MB/s eta 0:00:04
     --- ------------------------------------ 1.1/11.9 MB 3.4 MB/s eta 0:00:04
     ------ --------------------------------- 2.1/11.9 MB 5.5 MB/s eta 0:00:02
     -------- ------------------------------- 2.5/11.9 MB 6.0 MB/s eta 0:00:02
     ----------- ---------------------------- 3.5/11.9 MB 7.5 MB/s eta 0:00:02
     --------------- ------------------------ 4.7/11.9 MB 9.4 MB/s eta 0:00:01
     ------------------- -------------------- 5.9/11.9 MB 10.7 MB/s eta 0:00:01
     ----------------------- ---------------- 7.0/11.9 MB 11.8 MB/s eta 0:00:01
     ---------------------------- ----------- 8.4/11.9 MB 13.1 MB/s eta 0:00:01
     ------------------------------- -------- 9.5/11.9 MB 14.1 MB/s eta 0:00:01
     ----------------------------------- --- 10.6/11.9 MB 20.5 MB/s eta 0:00:01
     ------------------------------------- - 11.3/11.9 MB 25.2 MB/s eta 0:00:01
     --------------------------------------  11.7/11.9 MB 22.6 MB/s eta 0:00:01
     --------------------------------------- 11.9/11.9 MB 21.8 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp312-cp312-win_amd64.whl size=247958 sha256=26c5a9b2cd538c2eb9b4bffd2a12f958d7cfd489d6dac3253a5ece1da85b9fa5
  Stored in directory: c:\users\kiit\appdata\local\pip\cache\wheels\03\17\fa\d7604c72dd3dd6d3eb3d249abf36cc532c9a9b4354b8f1bc4f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [197]:
import mysql.connector

In [205]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [234]:
pd.read_sql_query("Select * from city where CountryCode like 'IND'",conn)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_25588\1279875137.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("Select * from city where CountryCode like 'IND'",conn)

       ID                Name CountryCode        District  Population
0    1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1    1025               Delhi         IND           Delhi     7206704
2    1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3    1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4    1028           Hyderabad         IND  Andhra Pradesh     2964638
..    ...                 ...         ...             ...         ...
336  1360        Ambala Sadar         IND         Haryana       90712
337  1361          Baidyabati         IND    West Bengali       90601
338  1362               Morvi         IND         Gujarat       90357
339  1363             Raigarh         IND     Chhatisgarh       89166
340  1364            Vejalpur         IND         Gujarat       89053

[341 rows x 5 columns]