In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [13]:
df = pd.read_csv(r"C:\Users\KIIT\Desktop\100 Days of ML\Datasets\titanic_campusX.csv",usecols=['Age','Pclass','Fare','Survived'])

In [14]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [15]:
df.isnull().mean() * 100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [16]:
X = df.drop(columns=['Survived'])
y = df['Survived']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [17]:
X_train.head()

     Pclass   Age     Fare
30        1  40.0  27.7208
10        3   4.0  16.7000
873       3  47.0   9.0000
182       3   9.0  31.3875
876       3  20.0   9.8458

In [ ]:
knn = KNNImputer(n_neighbors=3,weights='distance') #by default, weights = "uniform".

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [19]:
lr = LogisticRegression()
lr.fit(X_train_trf,y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test,y_pred)

0.7150837988826816

In [20]:
# Comparision with Simple Imputer --> mean
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [21]:
lr = LogisticRegression()
lr.fit(X_train_trf2,y_train)
y_pred = lr.predict(X_test_trf2)
accuracy_score(y_test,y_pred)

0.6927374301675978

In [ ]:
# KNN got more accuracy_score than Simple Imputer